.m-footer
  footer
    container
      .footer-logo
        img(src='/images/icons/logo-footer.png')
        ul
          li 
            a(href='#') Privacy Policy
          li
            a(href='#') Terms and Conditions
      .footer-nav
        ul
          li 
            h2 Navigate
          li 
            a(href='#') Home
          li 
            a(href='#') Our Story
          li 
            a(href='#') How It Works
          li 
            a(href='#') Gift Wizard 
          li 
            a(href='#') Product Store
          li 
            a(href='#') Spice It Up
          li 
            a(href='#') Gift Calendar Manager
      .footer-social
        h2 Follow Us
        ul
          li.fb 
            a(href='#') Facebook
              .icon
          li.tw 
            a(href='#') Twitter
              .icon
          li.yt 
            a(href='#') Youtube
              .icon
  .terms
    ul
      li 
        a(href='#') Privacy Policy
      li
        a(href='#') Terms and Conditions





