.section-block
  .container
    .row
      .get-started
        h1 GET STARTED
        .col-md-4.col-sm-6.gift
          .icon
          h2 Gift Wizard
          p We'll help you find the perfect gift.
        .col-md-4.col-sm-6.spice
          .icon
          h2 Spice It Ip
          p Spice up your gift with a memorable experience
        .col-md-4.col-sm-12.calendar
          .icon
          h2 Gift Calendar Manager
          p We’ll help you remember all the important occasions
    .row
      .love-share  
        h1 SHARE YOUR LOVE
        P Tell someone you're thinking of them to win them a free gift
        .social-media
          .col-xs-6
            a(href='#')
              .icon.fb
          .col-xs-6
            a(href="#")
              .icon.tw