.page-header
  .m-navigation
    .row
      .logo.col-sm-12.col-md-5.pull-left
        img(src='../images/icons/logo.png')
      .user-navigation.col-md-7.col-sm-12.pull-right
        ul.desktop.font-9px-normal.pull-right
          li.account
            a(href='#') Account
          li.wishlist
            a(href='#') Wishlist
          li.login
            a(href='#') Login
          li.cart
            a(href='#') Cart
          li.search
            form
              div.form-group
                input(type='text', placeholder='Search entire store here...')
        ul.mobile
          li.button 
            #menu-btn
          li.account 
            a(href='#') Account
          li.cart
            a(href='#') Cart
          li.search
        div.searchbox
          form 
            input(placeholder='Search entire store here...', type='text', class="input-search")
            input(type='submit', value='Search', class='submit')
            
    .row
      nav.main-navigation
        .close
          img(src='../images/icons/btn-close.png')
        ul.list-inline
          li.current
            a(href='/landing') Home
          li
            a(href='/our-story') Our Story
          li
            a(href='/how-it-works') How It Works
          li
            a(href='/online-store') Gift Wizard
          li
            a(href='') Spice It Up
          li
            a(href='') Gift Calendar Manager





