.section-block
  .container
    .row
      .get-started
        h1 GET STARTED
        .col-md-4.col-sm-6.gift
          .icon
          h2 Gift Wizard
          p We'll help you find the perfect gift.
        .col-md-4.col-sm-6.spice
          .icon
          h2 Spice It Ip
          p Spice up your gift with a memorable experience
        .col-md-4.col-sm-12.calendar
          .icon
          h2 Gift Calendar Manager
          p We’ll help you remember all the important occasions
    .row
      .love-share  
        h1 SHARE YOUR LOVE
        P Tell someone you're thinking of them to win them a free gift
        .social-media
          .col-xs-6
            a(href='#')
              .icon.fb
          .col-xs-6
            a(href="#")
              .icon.tw
.section-carousel
  .container
    header 
      h1 Get Inspired
      .wrapper
        h3
          a.read-more(href="#") See More

    #carousel-id.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        li(data-target='#carousel-id', data-slide-to='0')
        li(data-target='#carousel-id', data-slide-to='1')
        li(data-target='#carousel-id', data-slide-to='2')
        li(data-target='#carousel-id', data-slide-to='3')
        li.active(data-target='#carousel-id', data-slide-to='4')
      .carousel-inner
        .item
          .col-md-6.text-center
            .img-wrap
              img(src='/images/landing/product-1.png')
            h2 First product name here
            h2 
              strong INR 000.00 
        .item
          .col-md-6.text-center
            .img-wrap
              img(src='/images/landing/product-2.png')
            h2 First product name here
            h2 
              strong INR 000.00 
        .item
          .col-md-6.text-center
            .img-wrap
              img(src='/images/landing/product-1.png')
            h2 First product name here
            h2 
              strong INR 000.00 
        .item    
          .col-md-6.text-center
            .img-wrap
              img(src='/images/landing/product-2.png')
            h2 First product name here
            h2 
              strong INR 000.00 
        .item
          .col-md-6.text-center
            .img-wrap
              img(src='/images/landing/product-1.png')
            h2 First product name here
            h2 
              strong INR 000.00
        .item.active    
          .col-md-6.text-center
            .img-wrap
              img(src='/images/landing/product-2.png')
            h2 First product name here
            h2 
              strong INR 000.00  
      a.left.carousel-control(href='#carousel-id', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
      a.right.carousel-control(href='#carousel-id', data-slide='next')
        span.glyphicon.glyphicon-chevron-right
.section-mailing 
  .container
    .mailing-wrap
      .icon
      h2 Join our mailing list
      form 
        input(type='text', value='Your e-mail address')
