extends layout

block content
    .section-how-it-works
      .container
        .row  
          h1 How It Works
          .video-wrapper
          h2
            | Find the perfect gift,
            br 
            span.violet add an unforgetable moment.
    include ./includes/get-started-promotion.jade
    include ./includes/get-inspired-promotion.jade
    include ./includes/join-mailinglist.jade