doctype html
html
  head
    title TOY
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

    link(rel='stylesheet', href='/stylesheets/toy.min.css')
    script(src='/javascripts/lib/jquery.min.js')
    script(src='/javascripts/lib/uisearch.js')
    script(src='/javascripts/lib/bootstrap.min.js')
    script(src='/javascripts/lib/handlebars-v2.0.0.js')
    script(src='/javascripts/toy.js')
  body
    include ./includes/navigation.jade

    .main-content
      block content

    include ./includes/footer.jade
