extends layout

block content    
    .section-our-store
      .container
        .row
          h1 Online Store 
          .col-xs-5
            h2 Product Store 
            .icon.gift
            p Are you looking a perfect gift for that special someone?
            a(href="#") 
              div Shot at Our Product Store!
          .col-xs-2
            .divider 
              h3 or 
          .col-xs-5
            h2 Spice It Up! 
            .icon.heart 
            p Wrap your gift with a memorable Experience
            a(href="#") 
              div Come & Visit Spice It Up! 
    include ./includes/get-started-promotion.jade
    include ./includes/get-inspired-promotion.jade
    include ./includes/join-mailinglist.jade