extends layout

block content
    .section-story
      .container
        .row  
          h1 Our Story 
          p.lead 
            | The 
            strong happiness of giving 
            | starts with the giver,and special moments become 
            strong memories forever.
            br
            br 
            | Thinking of You helps you experience 
            | and 
            strong celebrate the joy of gifting happiness.
          p Special occasions call for special gifts. Special people should be appreciated. Thinking of You offer the perfect gift for every occasion, from the biggest celebrations 
            | to the smallest thought.
          br
          br
          p We believe gifting should be a way of life, and we work everyday to make your gifting experience as simple, personal and fulfilling as possible. 
    include ./includes/get-started-promotion.jade
    include ./includes/get-inspired-promotion.jade
    include ./includes/join-mailinglist.jade