extends layout

block content

  div(style='font-family: "HelveticaNeue"; font-size: 50px; font-weight: 100; font-style: normal; font-stretch: normal;') HelveticaNeue 50px Ultra-Light normal normal
  div(style='font-family: "HelveticaNeue"; font-size: 50px; font-weight: 100; font-style: italic; font-stretch: normal;') HelveticaNeue 50px Ultra-Light italic normal
  div(style='font-family: "HelveticaNeue"; font-size: 50px; font-weight: 200; font-style: normal; font-stretch: normal;') HelveticaNeue 50px Thin normal normal
  div(style='font-family: "HelveticaNeue"; font-size: 50px; font-weight: 300; font-style: normal; font-stretch: normal;') HelveticaNeue 50px Light normal normal
  div(style='font-family: "HelveticaNeue"; font-size: 50px; font-weight: normal; font-style: normal; font-stretch: normal;') HelveticaNeue 50px Regular normal normal
  div(style='font-family: "HelveticaNeue"; font-size: 50px; font-weight: normal; font-style: normal; font-stretch: condensed;') HelveticaNeue 50px Regular normal condensed
  div(style='font-family: "HelveticaNeue"; font-size: 50px; font-weight: normal; font-style: italic; font-stretch: normal;') HelveticaNeue 50px Regular italic normal
  div(style='font-family: "HelveticaNeue"; font-size: 50px; font-weight: 500; font-style: normal; font-stretch: normal;') HelveticaNeue 50px Medium normal normal
  div(style='font-family: "HelveticaNeue"; font-size: 50px; font-weight: 500; font-style: italic; font-stretch: normal;') HelveticaNeue 50px Medium italic normal
  div(style='font-family: "HelveticaNeue"; font-size: 50px; font-weight: bold; font-style: normal; font-stretch: normal;') HelveticaNeue 50px Bold normal normal
  div(style='font-family: "HelveticaNeue"; font-size: 50px; font-weight: bold; font-style: normal; font-stretch: condensed;') HelveticaNeue 50px Bold normal condensed
  div(style='font-family: "HelveticaNeue"; font-size: 50px; font-weight: bold; font-style: italic; font-stretch: normal;') HelveticaNeue 50px Bold italic normal

  br
  br
  br
  br
  br
  br
  br
  br

  div(style='font-family: "HelveticaNeue"; font-size: 82px; font-weight: 200; font-style: normal; font-stretch: normal;') Helvetica Neue Thin 82px
  div(style='font-family: "HelveticaNeue"; font-size: 66px; font-weight: 200; font-style: normal; font-stretch: normal;') Helvetica Neue Thin 66px
  div(style='font-family: "HelveticaNeue"; font-size: 48px; font-weight: 200; font-style: normal; font-stretch: normal;') Helvetica Neue Thin 48px
  div(style='font-family: "HelveticaNeue"; font-size: 32px; font-weight: 200; font-style: normal; font-stretch: normal;') Helvetica Neue Thin 32px

  br
  br

  div(style='font-family: "HelveticaNeue"; font-size: 32px; font-weight: 300; font-style: normal; font-stretch: normal;') Helvetica Neue Light 32px
  div(style='font-family: "HelveticaNeue"; font-size: 26px; font-weight: 300; font-style: normal; font-stretch: normal;') Helvetica Neue Light 26px
  div(style='font-family: "HelveticaNeue"; font-size: 22px; font-weight: 300; font-style: normal; font-stretch: normal;') Helvetica Neue Light 22px
  div(style='font-family: "HelveticaNeue"; font-size: 18px; font-weight: 300; font-style: normal; font-stretch: normal;') Helvetica Neue Light 18px

  br
  br

  div(style='font-family: "HelveticaNeue"; font-size: 24px; font-weight: normal; font-style: normal; font-stretch: normal;') Helvetica Neue Regular 24px
  div(style='font-family: "HelveticaNeue"; font-size: 16px; font-weight: normal; font-style: normal; font-stretch: normal;') Helvetica Neue Regular 16px
  div(style='font-family: "HelveticaNeue"; font-size: 14px; font-weight: normal; font-style: normal; font-stretch: normal;') Helvetica Neue Regular 14px
  div(style='font-family: "HelveticaNeue"; font-size: 13px; font-weight: normal; font-style: normal; font-stretch: normal;') Helvetica Neue Regular 13px

  br
  br

  div(style='font-family: "HelveticaNeue"; font-size: 18px; font-weight: 500; font-style: normal; font-stretch: normal;') Helvetica Neue Medium 18px
  div(style='font-family: "HelveticaNeue"; font-size: 16px; font-weight: 500; font-style: normal; font-stretch: normal;') Helvetica Neue Medium 16px
  div(style='font-family: "HelveticaNeue"; font-size: 14px; font-weight: 500; font-style: normal; font-stretch: normal; text-transform: uppercase;') Helvetica Neue Medium 14px all caps
  div(style='font-family: "HelveticaNeue"; font-size: 13px; font-weight: 500; font-style: normal; font-stretch: normal;') Helvetica Neue Medium 13px
  div(style='font-family: "HelveticaNeue"; font-size: 12px; font-weight: 500; font-style: normal; font-stretch: normal;') Helvetica Neue Medium 12px

  br
  br

  div(style='font-family: "HelveticaNeue"; font-size: 14px; font-weight: bold; font-style: normal; font-stretch: normal; text-transform: uppercase;') Helvetica Neue Bold 14px
  div(style='font-family: "HelveticaNeue"; font-size: 13px; font-weight: bold; font-style: normal; font-stretch: normal; text-transform: uppercase;') Helvetica Neue Bold 13px
  div(style='font-family: "HelveticaNeue"; font-size: 12px; font-weight: bold; font-style: normal; font-stretch: normal; text-transform: uppercase;') Helvetica Neue Bold 12px

  br
  br

